@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

body {
  background: #FFFFFF;
  font-family: 'noto sans jp';
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  padding-left: 120px;
  padding-top: 80px;
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  display: none;
}
.container {
  display: flex;
  place-content: space-between;
  position: relative;
}
  .stencil-logo {
    height: 40px;
    margin-top: 24px;
    float: left;
  }
  .vl {
    border-left: 1px solid #C4C4C4;
    height: 92px;
    margin-left: 24px;
    float: left;
  }
  .figma-logo {
    height: 40px;
    margin-top: 24px;
    margin-left: 24px;
    float: left;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .hero-text {
    width: 670px;
    height: 201px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 300;
    font-size: 51px;
    line-height: 132%;
    /* or 67px */
    letter-spacing: -0.6px;
    color: #292929;
    margin-top: 122px;
  }
    span {
      font-family: Noto Sans JP;
      font-style: normal;
      font-weight: 500;
      font-size: 51px;
      line-height: 132%;
      /* or 67px */
      letter-spacing: -0.6px;
      color: #292929;
    }
  .secondary-btn {
    background-color: #FFFFFF;
    width: 240px;
    height: 80px;
    border: none;
    border-radius: 80px;
    box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.12);
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    text-align: center;
    letter-spacing: 0.75px;
    color: #1F51E5;
    float: left;
  }
  .primary-btn {
    background-color: #1F51E5;
    width: 347px;
    height: 80px;
    border: none;
    border-radius: 80px;
    box-shadow: 0px 8px 64px rgba(18, 58, 209, 0.46);
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    text-align: center;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    margin-left: 16px;
  }
  .tag {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #838383;
    margin-left: 204px;
  }

  .contact-container {
    width: auto;
    height: 250px;
    background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
    padding-top: 64px;
    margin-top: 24px;
    display: block;
  }
  .hero-img__container {
    position: absolute;
    top: -11rem;
    right: -11rem;
  }
  .mobile-img {
    display: none;
  }
    .hero-img {
      height: 1020px;
    }
  .main-list-1 {
    float: left;
  }
  .main-list-2 {
    float: left;
    margin-left: 80px;
  }
  .main-list-3 {
    float: left;
    margin-left: 80px;
  }
    .list-style {
      font-family: Noto Sans JP;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 120%;
      /* identical to box height, or 22px */
      letter-spacing: -0.6px;
      color: #838383;
      margin-top: 32px;
    }
  .social {
    float: right;
    margin-top: 120px;
    margin-right: 120px;
  }
  .social-mobile {
    display: none;
  }
    .social-list {
      float: left;
    }
      .twitter {
        margin-left: 16px;
        margin-right: 16px;
      }
@media (max-width: 768px){
  body {
    background: #FFFFFF;
    font-family: 'noto sans jp';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 56px;
    padding-bottom: 104px;
  }
  .stencil-logo {
    margin-top: 12px;
    float: left;
  }
  .logo {
    height: 24px;
  }
  .vl {
    border-left: 1px solid #C4C4C4;
    height: 47px;
    margin-left: 16px;
    float: left;
  }
  .figma-logo {
    margin-top: 12px;
    margin-left: 16px;
    float: left;
  }
  .hero {
    margin-top: 60px;
  }
  .hero-img {
    display: none;
  }
  .mobile-img {
    display: block;
    height: 218px;
    background: #C4C4C4;
    margin-top: 40px;
  }
    .cover-img {
      width: 100%;
      height: 100%;
    }
  .hero-text {
    display:inline;
    height: 168px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 132%;
    /* or 42px */
    letter-spacing: -0.6px;
    color: #292929;
  }
  span {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 132%;
    /* or 42px */
    letter-spacing: -0.6px;
    color: #292929;
  }
  .btn-section {
    text-align: center;
    margin-top: 40px;
  }
  .secondary-btn {
    background-color: #FFFFFF;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 80px;
    box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.12);
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #1F51E5;
    float: none;
  }
  .primary-btn {
    background-color: #1F51E5;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 80px;
    box-shadow: 0px 8px 64px rgba(18, 58, 209, 0.46);
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    margin-left: 0;
    margin-top: 16px;
  }
  .tag {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    text-align: center;
    letter-spacing: 0.75px;
    color: #656565;
    margin-left: 0px;
  }
  .list-style {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */
    letter-spacing: -0.6px;
    color: #838383;
  }
  .main-list-2 {
    float: left;
    margin-left: 84px;
  }
  .main-list-3 {
    float: left;
    margin-left: 0px;
  }
  .contact-container {
    padding-top: 0px;
    margin-top: 32px;
  }
  .social {
    display: none;

  }
  .social-mobile {
    display: block;
    text-align: center;
    margin-top: 120px;
  }
  .social-list {
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 1000px){
  body {
    background: #FFFFFF;
    font-family: 'noto sans jp';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 56px;
    padding-bottom: 72px;
  }
  .stencil-logo {
    margin-top: 12px;
    float: left;
  }
  .logo {
    height: 24px;
  }
  .vl {
    border-left: 1px solid #C4C4C4;
    height: 47px;
    margin-left: 16px;
    float: left;
  }
  .figma-logo {
    margin-top: 12px;
    margin-left: 16px;
    float: left;
  }
  .hero {
    margin-top: 0px;
  }
  .hero-img {
    display: none;
  }
  .mobile-img {
    display: block;
    height: 218px;
    background: #C4C4C4;
    margin-top: 40px;
  }
    .cover-img {
      width: 100%;
      height: 100%;
    }
  .hero-text {
    display: block;
    width: 500px;
    height: 104px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 132%;
    /* or 42px */
    letter-spacing: -0.6px;
    color: #292929;
    margin-top: 80px;
  }
  span {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 132%;
    /* or 42px */
    letter-spacing: -0.6px;
    color: #292929;
  }
  .btn-section {
    display: flex;
    text-align: none;
    margin-top: 40px;
  }
  .secondary-btn {
    background-color: #FFFFFF;
    width: 240px;
    height: 80px;
    border: none;
    border-radius: 80px;
    box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.12);
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    text-align: center;
    letter-spacing: 0.75px;
    color: #1F51E5;
    float: left;
  }
  .primary-btn {
    background-color: #1F51E5;
    width: 347px;
    height: 80px;
    border: none;
    border-radius: 80px;
    box-shadow: 0px 8px 64px rgba(18, 58, 209, 0.46);
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    text-align: center;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 0;
  }
  .tag {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #838383;
    margin-left: 0px;
  }
  .contact-container {
    padding-top: 0px;
    margin-top: 0px;
  }
  .main-list-3 {
    float: left;
    margin-left: 45px;
  }
}

@media (min-width: 1001px) and (max-width: 1340px) {
  body {
    background: #FFFFFF;
    font-family: 'noto sans jp';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    padding-left: 64px;
    padding-top: 80px;
  }
  .hero-img__container {
    position: absolute;
    top: -11rem;
    right: -17rem;
  }
  .hero-img {
    height: 700px;
  }
  .contact-container {
    width: auto;
    height: 300px;
    background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 70%);
    padding-top: 84px;
    margin-top: 0px;
    display: block;
  }
  .social {
    margin-right: 64px;
  }
}